<!DOCTYPE html>
<html>
<head>
  <title>Realizadas</title>
  <!-- Agrega el enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Agrega el enlace al archivo CSS de Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    @keyframes rotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    .star-icon {
      animation: rotate 2s infinite linear;
    }

    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 style="margin-top: 20px; text-align: center">{{title}}</h1>
    <br>
    <center>
    {{#if tareas.length}}
      <ul class="list-group">
        {{#each tareas}}
          <li class="list-group-item">
            {{id}} - {{titulo}}
            <!-- Icono de la estrella -->
            <i class="fas fa-star star-icon" style="color: rgba(217, 236, 4, 0.997);"></i>
          </li>
        {{/each}}
      </ul>
    </center>
    {{else}}
      <p>No hay tareas para mostrar</p>
    {{/if}}
  </div>

  <!-- Agrega el enlace al archivo JS de Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></
